.create {
    width: 500px;
    margin: 0 auto;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .create {
        width: 100%;
    }
}