.heading {
    width: 100%;
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    composes: backgroundColor from "../../App.module.css";
    composes: textColor from "../../App.module.css";
}

.button:nth-child(2) {
    margin-left: 10px;
}

.icon {
    font-size: 20px;
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 32%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-right: 2%;
    composes: backgroundColor from "../../App.module.css";
    composes: textColor from "../../App.module.css";
}

.item:nth-child(3n) {
    margin-right: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title > b {
    font-size: 18px;
}

.delete {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    composes: backgroundColor from "../../App.module.css";
    composes: textColor from "../../App.module.css";
}

@media screen and (max-width: 1000px) {
    .item {
        width: 49%;
    }
    .item:nth-child(3n) {
        margin-right: 2%;
    }
    
    .item:nth-child(2n) {
        margin-right: 0;
    } 
}

@media screen and (max-width: 700px) {
    .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .item:nth-child(3n) {
        margin-right: 0;
    }
    
    .item:nth-child(2n) {
        margin-right: 0;
    }
}