@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: inline-block;
    margin-top: 30px;
    border: 10px solid #ccc;
    border-top: 10px solid #641885;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

.create {
    width: 500px;
    margin: 0 auto;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}